# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pdb

out/
x64/
.vs/
build/
.cache/
.vscode/
imgui.ini
YeagerEngine.vcxproj
YeagerEngine.vcxproj.filters
YeagerEngine.vcxproj.user
YeagerEngine
__pycache__/